@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Bellefair&family=Lato:wght@300;400;700&display=swap');

@layer base {
    body {
        @apply font-[Bellefair];
        @apply bg-[#0b0d17]
    }

    li {
        @apply px-4;
        @apply list-none
    }   
}


.condensed {
    font-family: 'Barlow Condensed', sans-serif
}


.home {
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.pulse:hover {
    animation: pulse 2s linear infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba( 255, 255, 255, .7);
    }
    40% {
        box-shadow: 0 0 0 40px rgba( 255, 255, 255, 0);
    }
    80% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0 );
    }
        
}

.destinations,
.europa,
.mars, 
.titan  {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.crew {
    background-image: url('./assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.technologies {
    background-image: url('./assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cover {
    background-image: url('./assets/technology/image-launch-vehicle-landscape.jpg');
    background-size: cover;
    background-position: center;
}


.spaceport {
    background-image:  url('./assets/technology/image-spaceport-landscape.jpg');
}



@media (min-width: 768px) {
    .cover {
        background-image: url('./assets/technology/image-launch-vehicle-portrait.jpg');

    }

    .spaceport {
        background-image:  url('./assets/technology/image-spaceport-portrait.jpg');

    }
}