@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Bellefair&family=Lato:wght@300;400;700&display=swap');

@layer base {
    body {
        @apply font-[Bellefair];
        @apply bg-[#0b0d17]
    }

    li {
        @apply px-4;
        @apply list-none
    }   
}


.condensed {
    font-family: 'Barlow Condensed', sans-serif
}


.home {
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}